.actionbar {
    margin-bottom: 10px;

    span {
        margin: 10px;
    }
    button {
        margin: 0 5px;
    }

    p {
        padding: 10px;
        color: white;
        text-align: center;
    }

    hr {
        color: white;
        width: 90%;
    }
}
